<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785589973114-tj4a8c5desm2oq28a15drc1qo13r3ros.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785589973114-tj4a8c5desm2oq28a15drc1qo13r3ros</string>
	<key>API_KEY</key>
	<string>AIzaSyBAHMq-fqpisApb0OmgmqDGIjsF6cONlJY</string>
	<key>GCM_SENDER_ID</key>
	<string>785589973114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>innovation-api-4b952</string>
	<key>STORAGE_BUCKET</key>
	<string>innovation-api-4b952.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785589973114:ios:1a99638a0705ff5d028bc3</string>
</dict>
</plist>